<%= image_tag attachments['nojustice.jpeg'].url, alt: 'no justice no peace', class: 'photos' %><br><br>
    <h2>Welcome to <strong>Injustice World</strong>, <i><%= @user.first_name %></i></h2>
    <p>
      
      Vous vous etes bien inscrit sur Injustice World,et nous vous en remercions!
      <br>
    </p>
    <p>Vous allez recevoir un lien pour confirmer votre inscription.</p>

    <p>Vous pourrez aussitot partager votre injustice ou reagir a celles subies par les autres membres.<br>Face à la montée en puissance des injustices,ce site se veut solidaire.Le <strong>RESPECT</strong> de l'Autre est primordial .<br><br><strong>Aucune</strong> discrimination ou intolerance ne sera acceptée.<br>
      Vous pouvez aborder tous les sujets.Chacun vit ses propres injustices au quotidien,et on se retrouve souvent impuissants.<br>
      Nous esperons les mettre en lumiere , et donc reveiller la JUSTICE voire peut etre trouver une aide quelconque avec d'autres membres

    </p>
    <p>
      Le <i>racisme</i> par exemple a tendance a etre minimiser,alors que de nos jours il est inconcevable que nous puissions encore le tolerer.La loi prevoit des peines plus graves si des propos ou actes sont rendus publics.<br>
    Alors n'attendez plus venez partagez votre experience et aider nos membres a diffuser le plus largement possible leurs injustices!</p>
    <p>A tres bientot!</p><br>

<strong>rappel</strong><br>
Afin de preserver votre anonymat<br>
    Vos messages sur le site apparaitront sous le pseudo: <i><%=@user.username%></i>


