<h2>Conditions Générales d’Utilisation</h2>

<p>Le présent document a pour objet de définir les modalités et conditions dans lesquelles d’une part, InjusticeWorld.com , ci-après dénommé l’EDITEUR, met à la disposition de ses utilisateurs le site, et les services disponibles sur le site </p><br>



L'utilisation du site implique que vous ayez lu et que vous acceptiez les présentes conditions d'utilisation <br>
<h3>Propriete Intellectuelle</h3>

Toute reproduction ou distribution non autorisée de tout ou partie des éléments et informations de ce site, des applications ou services associés est interdite et serait susceptible de constituer une contrefaçon au sens des articles L 335-2 et suivants du Code de la propriété intellectuelle.<br>



Les visiteurs accordent à InjusticeWorld.com, une licence d’utilisation sur le Contenu qu’ils publient sur le site, pour toute la durée de la protection par le droit d’auteur en France, pour le monde entier, de façon gratuite, irrévocable, non exclusive et cessible. Cette licence d’utilisation comprend notamment pour InjusticeWorld.com le droit d’utiliser, reproduire, représenter, adapter, traduire ou encore sous-licencier le contenu publié par les visiteurs, et ce en tout ou partie, en tous formats, par tout moyen, sur le site ou sur tous supports (connus ou inconnus à ce jour) publicitaires et promotionnels en rapport direct avec le site, sans limitation d’exemplaires des supports concernés, et modes d’exploitation promotionnels et publicitaires en rapport direct avec le site (affiches, affichettes, PLV, particulièrement tous supports d’affichage, tout objet publicitaire non destiné à la vente directe) ainsi que pour les supports et moyens suivants : presse, (journaux, périodiques), édition papier (catalogues, plaquettes, brochures, livres, cartes, dépliants…), éditions multimédia et électronique (internet, intranet, …), documents commerciaux (plaquettes institutionnelles, etc…).<br>

Le site InjusticeWorld.com peut contenir des liens  vers d’autres sites présents sur le réseau Internet. Les liens vers ces autres ressources vous font quitter le site InjusticeWorld.com<br>

Il est possible de créer un lien vers la page de présentation de ce site sans autorisation expresse de l’EDITEUR. Aucune autorisation ou demande d’information préalable ne peut être exigée par l’éditeur à l’égard d’un site qui souhaite établir un lien vers le site de l’EDITEUR. Il convient toutefois d’afficher ce site dans une nouvelle fenêtre du navigateur. Cependant, l’EDITEUR se réserve le droit de demander la suppression d’un lien qu’il estime non conforme à l’objet du site InjusticeWorld.com<br>
<h3>Responsabilité du site</h3>
Les informations figurant sur ce site et/ou accessibles par ce site proviennent de contributions postées par les visiteurs.<br>

Aucune responsabilité ne pourrait être assumée en cas d'erreur,suppression, omission, perte ou dommage direct ou indirect dû à l'utilisation de données ou informations publiées sur le site. <br>InjusticeWorld.com ne peut être tenue responsable à l’égard des visiteurs notamment pour:<ul><li> ses interactions</li><li>l’accès ou l’utilisation ou l’impossibilité d’utilisation ou d’accès au site de manière générale</li><li> l’impossibilité de supprimer, ou de l’impossibilité de stocker ou de transmettre des informations, des commentaires ou des témoignages ;</li><li>toute information, témoignage et/ou de tout commentaire figurant sur InjusticeWorld.com </li><li>tout comportement d’un tiers sur InjusticeWorld.com de manière générale, y compris mais sans s’y limiter, toute conduite diffamatoire, injurieuse ou illégale des autres visiteurs ou de tout tiers ;</li><li>tout contenu inséré dans des messages envoyés par le biais de InjusticeWorld.com.</li> </ul><br>L'information est fournie telle quelle, sans garantie et son utilisation relève de votre pleine et entière responsabilité.<br>
Le site est uniquement un espace communautaire permettant aux victimes d'injustices sous toutes leurs formes  de partager leur témoignage,en les postant et/ou en discutant sur ces derniers.InjusticeWorld.com intervient donc uniquement en qualité d’hébergeur de contenus, ne fournissant que de simples prestations techniques de stockage de contenus et mise à disposition d’espaces au sens de la loi et de la jurisprudence française.<br>


Les visiteurs garantissent en particulier InjusticeWorld.com contre toute réclamation, action en justice ou demande incluant notamment, toute action concernant les informations mises en ligne par les visiteurs, tout usage par les visiteurs des informations figurant sur InjusticeWorld.com ou tout manquement aux présentes Conditions Générales.<br>

L’EDITEUR se réserve le droit de les corriger, de les modifier ou de les supprimer si celles-ci ne respecteraient pas le droit français et ce dès que celles-ci lui sont portées à sa connaissance.<br>

Dans l’hypothèse où InjusticeWorld.com soupçonnerait que les témoignages et/ou commentaires porteraient atteinte aux droits à l’image et/ou aux droits de propriété intellectuelle de tiers, elle se réserve le droit de supprimer immédiatement, sans préavis ou indemnité, tout témoignage et/ou commentaire litigieux ;<br>

Les visiteurs de InjusticeWorld.com peuvent à tout moment signaler une publication en nous contactant par mail,l'adresse de contact etant injustice.balance@gmail.com<br>

L’EDITEUR ne pourra en aucun cas être tenu responsable de tout dommage de quelque nature qu’il soit résultant de l’interprétation ou de l’utilisation des informations et/ou documents disponibles sur ce site.<br>

InjusticeWorld.com n’assure aucune modération ou contrôle préalable d’aucune sorte sur le contenu publié par les visiteurs mais peut intervenir en cas de contenu illicite ou du non-respect des Conditions Générales pour supprimer tout ou partie des contributions. InjusticeWorld.com n’a pas connaissance, avant leur mise en ligne, des informations publiées et/ou diffusées par les visiteurs. En conséquence, il ne peut être tenue pour responsable à ce titre.<br><br>
<h3>Responsabilité du visiteur</h3>

Les visiteurs s’engagent à respecter l’ensemble des présentes Conditions Générales ainsi que des lois et règlements applicables et notamment à :<br>

ne pas utiliser le Site et/ou ses fonctionnalités à des fins illégales (pour diffuser des contenus illicites par exemple) ;<br>

ne pas usurper l’identité de tout tiers ;<br>

ne pas auto-promouvoir leurs services ;<br>

ne pas démarcher les visiteurs de InjusticeWorld.com via les services du site ;<br>

publier des informations exactes et fiables ;<br>

ne pas procéder à l’envoi en nombre de témoignages, commentaires ou contenus similaires ;<br>

publier des commentaires dans le respect mutuel ;<br>

ne pas contourner une sanction en créant un nouveau compte sur InjusticeWorld.com ;<br>

ne pas posséder plusieurs comptes sur InjusticeWorld.com ;<br>

ne pas distribuer ni publier des documents ni formuler de propos susceptibles de heurter la sensibilité de tiers, susceptibles de provoquer des polémiques, contraires à l’ordre public ou aux bonnes mœurs et/ ou portant atteinte aux droits ou à la dignité de tiers ;<br>

ne pas poster de contenu mentionnant des personnes, ni de propos injurieux, diffamants, dénigrants,intolerants, pornographiques ou de manière générale contraires à la morale et aux bonnes mœurs et / ou portant atteinte à l’ordre public ;<br>

ne pas inciter à commettre un crime, un délit ou un acte de terrorisme ou faisant l’apologie des crimes de guerre ou des crimes contre l’humanité.<br>

contacter le webmaster de InjusticeWorld.com via le formulaire de contact disponible à l’adresse https://www.InjusticeWorld.com/contact/ en cas de constatation de contenu illicite publié sur le site.<br><br>

<h3>Moderation</h3>
 

Les professionnels ainsi que les membres associatifs ne sont pas autorisés à entrer en contact avec les visiteurs de InjusticeWorld.com en privé, sans que ces derniers ne les aient préalablement sollicité (hors situations urgentes).<br>

InjusticeWorld.com se réserve le droit discrétionnaire de modérer, à savoir modifier, déplacer ou supprimer les contenus publiés par les visiteurs.<br>

En cas de manquement d’un visiteur à l’une des conditions tenant aux Obligations des visiteurs, celui-ci pourra se voir interdire l’accès aux services de InjusticeWorld.com.<br>

InjusticeWorld.com pourra modérer, à savoir modifier, ou supprimer, les propos tenus par les visiteurs et bloquer l’accès aux commentaires et au services aux visiteurs tenant des propos susceptibles de heurter la sensibilité de tiers ou de porter atteinte à leurs droits, ou ne respectant pas les présentes Conditions Générales et en particulier celles figurant dans les Obligations des visiteurs.<br>
<h3>Accessibilité</h3>
L’éditeur s’efforce de permettre l’accès au site 24 heures sur 24, 7 jours sur 7, sauf en cas de force majeure ou d’un événement hors du contrôle de l’EDITEUR, et sous réserve des éventuelles pannes et interventions de maintenance nécessaires au bon fonctionnement du site et des services.<br>

Par conséquent, l’EDITEUR ne peut garantir une disponibilité du site et/ou des services, une fiabilité des transmissions et des performances en terme de temps de réponse ou de qualité. Il n’est prévu aucune assistance technique vis à vis du visiteur que ce soit par des moyens électronique ou téléphonique.<br>

La responsabilité de l’éditeur ne saurait être engagée en cas d’impossibilité d’accès à ce site et/ou d’utilisation des services.<br>

Par ailleurs, l’EDITEUR peut être amené à interrompre le site ou une partie des services, à tout moment sans préavis, le tout sans droit à indemnités. Le visiteur reconnaît et accepte que l’EDITEUR ne soit pas responsable des interruptions, et des conséquences qui peuvent en découler pour le visiteur ou tout tiers.<br>

L’EDITEUR se réserve la possibilité de modifier, à tout moment et sans préavis, les présentes conditions d’utilisation afin de les adapter aux évolutions du site et/ou de son exploitation.<br><br>

Le visiteur déclare accepter les caractéristiques et les limites d’Internet, et notamment reconnaît que :<br>

L’EDITEUR n’assume aucune responsabilité sur les services accessibles par Internet et n’exerce aucun contrôle de quelque forme que ce soit sur la nature et les caractéristiques des données qui pourraient transiter par l’intermédiaire de son centre serveur.<br>

Le visiteur reconnaît que les données circulant sur Internet ne sont pas protégées notamment contre les détournements éventuels. La présence du logo InjusticeWorld.com institue une présomption simple de validité. La communication de toute information jugée par le visiteur de nature sensible ou confidentielle se fait à ses risques et périls.<br><br>

Le visiteur reconnaît que les données circulant sur Internet peuvent être réglementées en termes d’usage ou être protégées par un droit de propriété.<br>

Le visiteur est seul responsable de l’usage des données qu’il consulte, interroge et transfère sur Internet.<br>

Le visiteur reconnaît que l’EDITEUR ne dispose d’aucun moyen de contrôle sur le contenu des services accessibles sur Internet.<br>
<h3>Droit applicable</h3>
Te site et son utimiastion utilisation sont régis par le droit français, quel que soit le lieu d’utilisation. En cas de contestation éventuelle, et après l’échec de toute tentative de recherche d’une solution amiable, les tribunaux français seront seuls compétents pour connaître de ce litige.<br><br>

Pour toute question relative aux présentes conditions d’utilisation du site, vous pouvez nous écrire à l’adresse suivante : injustice.balance@gmail.com</p>
