    
 <!-- Main Content -->
    <div class="container">
      <div class="container2">
        
          <div class="post-preview">
          
Catégories:
<hr>

 <% @categories.each do  |category|%>
<a href="/categories/<%= category.friendly_id %>">
	<div class="post-subtitle">
 
              
                <span style="color:#e54803"><%= category.name %><%= "(#{category.posts.count})" %></span> </a></div><br>
                
   
              
            
            
           

            
          <%end%> 
          </div>

                 </div>
      </div>
    
